{% extends '_layout_bs.html' %}

{% block title %}
PWMA Analysis API Demo
{% endblock %}

{% block style %}
<style>
.code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #eeeeee;
    font-size: 13px;
}
</style>
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <h2>RPLT PWMA Analysis API Demo</h2>
            <p>
                RPLT PWMA  Analysis Figure API Test for <span class="code">/rplt/PWMA</span>. <br>
                The return URL is the relative path to root, please add to absolute path in your own code. The server supports cross-domain access and HTTP header "Access-Control-Allow-Origin" has been added, so this service can be accessed from any server.
                The usage of this web API in JavaScript is also available in the source code of this page for reference. <br>
                There are only four parameters:
            </p>
            <div>
                <div class="form-group row">
                    <label for="rs" class="col-sm-3 col-form-label">
                        rs
                    </label>
                    <div class="col-sm-9">
                        <textarea class="form-control code" id="rs" rows="20" style="font-size: 9px;"></textarea>
                        <small id="rsHelp" class="form-text text-muted">
                            Records
                        </small>
                    </div>
 
                </div>

                <div class="form-group row">
                    <label for="cfg" class="col-sm-3 col-form-label">
                        cfg
                    </label>
                    <div class="col-sm-9">
                        <textarea class="form-control code" id="cfg" rows="20" style="font-size: 9px;"></textarea>
                        <small id="cfgHelp" class="form-text text-muted">
                            Config
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="is_subg_analysis" class="col-sm-3 col-form-label">is_subg_analysis</label>
                    <div class="col-sm-9">
                        <textarea class="form-control code" disabled id="is_subg_analysis" rows="1" style="font-size: 9px;"></textarea>
                        <small id="is_subg_analysisHelp" class="form-text text-muted">
                            Is Subgroup Analysis?
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="apikey" class="col-sm-3 col-form-label">apikey
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="apikey" value="[[ config['settings'].API_SYSTEM_APIKEYS[0] ]]">
                        <small id="apikeyHelp" class="form-text text-muted">
                            For the security of this service, API Key is required for authentication.
                        </small>
                    </div>
 
                </div>
                
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button onclick="get_data();" class="btn btn-primary">
                            Request figure URLs with above parameters
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-7" style="padding-top: 20px;">
            
            <h4>Server Response: </h4>
            <pre id="resp" style="width: 100%; max-height: 500px;" class="code">

            </pre>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
var rs_sample = [
    { study: 'Alpha et al', year: 2017, TE: 0.7, lowerci: 0.59, upperci: 0.83, pid: '12345678', subgroup: 'ADT' },
    { study: 'Scher HI et al', year: 2018, TE: 0.63, lowerci: 0.53, upperci: 0.75, pid: '22894553', subgroup: 'ADT' },
    { study: 'Sternberg C et al', year: 2017, TE: 1.01, lowerci: 0.94, upperci: 1.28, pid: '27298414', subgroup: 'ADT+API' },
    { study: 'Araujo JC et al', year: 2017, TE: 0.99, lowerci: 0.87, upperci: 1.13, pid: '28034081', subgroup: 'ADT+API' },
];
var cfg_sample = {
    "input_format": "PRIM_CAT_PRE",
    "measure_of_effect": "HR",
    "fixed_or_random": "random",
    "which_is_better": "lower",

    "pooling_method": "Inverse",
    "tau_estimation_method": "DL",
    "hakn_adjustment": "FALSE",
    "smd_estimation_method": "Hedges",
    "prediction_interval": "FALSE",
    "sensitivity_analysis": "no",
    "cumulative_meta_analysis": "no",
    "cumulative_meta_analysis_sortby": "year",

    "external_val": 0,
    "has_internal_val": false,
    "survival_in_control": 0,
    "internal_val_ec": 0,
    "internal_val_et": 0,
}

var is_subg_analysis = true;

$('#rs').html(JSON.stringify(rs_sample));
$('#cfg').html(JSON.stringify(cfg_sample));
$('#is_subg_analysis').html(JSON.stringify(is_subg_analysis));

function get_data() {

    var data = {
        rs: rs_sample,
        cfg: cfg_sample,
        is_subg_analysis: is_subg_analysis
    };
    console.log(data);

    // clear the response area
    $('#resp').html('Waiting for response ....');

    var base = '';
    axios.post(
        '/rplt/PWMA', data, {
            headers: {
                'x-token': $('#apikey').val()
            }
        }
    )
    .then(function(res) {
        console.log('* get return', res);
        $('#resp').html(JSON.stringify(res, null, 2));
    })
}
// show the JSON content of rs in textarea
</script>
{% endblock %}